<div class="post-first">
	<div class="post-header">
		<span class="subject">{{post.subject}}</span><span class="poster" title="IP: {{post.poster_ip}}">
		{% if post.poster_email %}
			<a class="email-link" href="mailto:{{post.poster_email}}">{{post.poster_name}}</a>
		{% else %}
			{{post.poster_name}}
		{% endif %}
		</span>
		{{post.created}}
		{% if not preview %}
			<a class="post-number" href="#">{{post.id}}</a>
		{% else %}
			{{post.id}}
			<span>[<a href="{{url_for('show_thread', forum_id=thread.board.forum.name, board_id=thread.board.abbrev, thread_id=thread.id)}}">Reply</a>]</span>
		{% endif %}
		{% if admin %}
			<a href="{{url_for('ban_user', poster_ip=post.poster_ip)}}">Ban Poster</a>
		{% endif %}
	</div>
	<div class="post-content">
		{% if post.image %}
			<div class="post-image">
				<img class="post-image" style="vertical-align: top" src="{{url_for('get_thumbnail', image_id=post.image.id)}}" image-fullSizeUrl="{{url_for('get_image', image_id=post.image.id)}}" />
			</div>
		{% endif %}
		<div class="post-text">
			{{ post.text }}
		</div>
	</div>
</div>