<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-waitforimages.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/board.js')}}"></script>
    <title>{% block title %}{% endblock %} - My Webpage</title>
</head>
<body>
	<div class="image-expand"><div class="image-expand-inner"></div><div class="fullscreen-button"><img src="{{url_for('static', filename='images/full-screen.png')}}" /></div></div>
	<div id="header">
		{% block header %}
			{% if not current_user.is_anonymous() %}
				<div class="admin-bar">
					Logged in as {{current_user.get_username()}}
				</div>
			{% endif %}
		{% endblock %}
	</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
			&copy; Copyright 2013 by <a href="http://www.ponychan.org/">deusprogrammer</a>.
        {% endblock %}
    </div>
</body>