.thread {
	border: 1px solid black;
	width: 800px;
	margin-top: 5px;
}

.post {
	position: relative;
	left: 20px;
	border: 1px solid black;
	width: 400px;
	margin-top: 5px;
}

.post-first {
	position: relative;
	left: 10px;
	border: 1px solid black;
	width: 400px;
	margin-top: 5px;
}

.post-subject {
}

.post-text {
}